# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor / IDE files
.vscode/
.idea/

# Arduino build artifacts
*.hex
*.elf
*.eep
*.bin
*.map

# Temporary / backup files
*.tmp
*.bak
*.swp

# Demo videos
demo/Video/